
#container {
    width: 850px;
}

#content_main {
    width: 550px;
}

.scroll_div {
	overflow-y: scroll; 
	height:180px;
}

div#jp_container_song	 {
	padding: 0px 0px 0px 550px;
}

